.idea/
coverage/
report/
test/
benchmark/
typings/

*.bak
*.orig

.gitignore
.eslintrc
.jscsrc
.istanbul.yml
.travis.yml
.release.json

tsconfig.json
typings.json
tslint.json

npm-debug.log
CONTRIBUTING.md
