.idea/
doc/
coverage/
site
report/
c9revisions/

.settings
.classpath
.project
.metadata
npm-debug.log

*.bak
*.orig

.gitignore
.gjslintrc
.jshintrc
.travis.yml

Gruntfile.js
README_DEV.md
test/
tools/