language: node_js
sudo: false
node_js:
  - 0.10
  - 0.12
  - 4.2
  - 5
script: "npm run travis"
cache:
  directories:
    - node_modules
notifications:
  email:
    - javier.mendiaracanardo@telefonica.com
    - guido.garciabernardo@telefonica.com
